.formStyle{
	max-width: 500px;
	margin: auto;
}
.searchBar{
	margin: 50px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	width: 900px;
}

#search-button {
    background: #dc3545;
    border-color: #dc3545;
    color: #fff;

}
#search-button:hover{
    color: #fff;
    background: #bb2d3b;
    border-color: #b02a37;
}

#search-bar {
    margin-left: 10px;
}
/* drop down CSS */


#nav, #nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#nav li {
    width: 132px;
    text-align: center;
    position: relative;

    z-index: 1;
}
#nav li > ul {
    background-color: white;
}
#active-nav {
    background-color: white;
}
#nav ul {
    position: absolute;
    display: none;
}
#nav ul ul {
    left: 132px;
    top: 0px;
}
#nav li:hover > ul {
    display: block;
    width: 132px;
    height: 50px;

}

#year-button{
    text-decoration: none;
    color: black;
    height: 50px;
    font-size: 18px;
    text-align: center;
    background: #e5e5e5;
    display: block;
    border: none;
}

/* #year-button:hover {
    border-bottom: 2px solid #dc3545;
    color: #dc3545;
} */

#nav a{
    text-decoration: none;
    color: black;

    width: 110px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;

    font-size: 18px;
    text-align: center;
    line-height: 50px;
    background: #e5e5e5;
    display: block;
}
/* #nav a:hover {
    border-bottom: 2px solid #dc3545;
    color: #dc3545;
} */
/* Ends */


.movie-row {
	background-color: #e5e5e5;
	display: flex;
	flex-direction: row;
	transition: 0.5s;
	cursor: pointer;
}
.movie-row:hover{
	scale: 1.05;
}
.movie-row:hover .box-hover-elements{
	visibility: visible;
}
.movie-row img {
	height: 150px;
	width: 150px;
	padding: 0;
}
.movie-header {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	align-self: center;
	height: 50px;
}
#movies-all {
	padding: 0;
}
#poster {
	width: 150px;
}
.inner-text {
	text-align: center;
	/* padding-top: 60px; */
	align-self: center;
	font-size: 18px;
}

.header-text {
	text-align: center;
	/* padding-top: 60px; */
	align-self: center;
	font-size: 18px;
}
.box-hover-elements {
	visibility: hidden;
}

.movieButton {
    border: 0;
    display: flex;
}



/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.inner-text {
		font-size: 15px;
	}
	.header-text {
		font-size: 20px;
	}
	.movie-row {
		background-color: lightgray;
	}
}

/* Movie details container */
.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Movie image */
.movie-image img {
  width: 400px;
  height: auto;
}

/* Movie info */
.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  margin-left: 20px;
}

/* Movie meta data */
.movie-meta {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Movie meta fields */
.movie-meta span {
  margin-right: 20px;
  font-size: 16px;
}

/* Movie cast */
.movie-cast {
  margin-bottom: 20px;
  overflow-x: auto;
  white-space: nowrap;
  max-width: calc(100% - 800px); /* Subtract width of image and some margin */
}

/* Movie cast fields */
.movie-cast span {
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
  white-space: nowrap;
}

.movie-title {
  display: flex;
  flex-direction: column;
  float:left;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

/* Hide scroll bar for actors section */
.movie-cast::-webkit-scrollbar {
  display: none;
}

.movie-cast {
   max-width: calc(90%);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  overflow-x: hidden;
}

/* Movie description */
.movie-description {
  overflow-y: hidden;
  margin-bottom: 20px;
  max-width: calc(90%); /* Subtract width of image and some margin */
  font-size: 18px;
  line-height: 1.5;
}

/* Hide scroll bar for movie descripti  on section */
.movie-description::-webkit-scrollbar {
  display: none;
}

.movie-description {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.watchlistRow{
	background-color: #e5e5e5;
	padding: 12px;
	transition: 0.5s;
}

.watchlistRow:hover{
	cursor: pointer;
	scale: 1.03;
}

.fa-pen, .fa-plus, .fa-trash, .fa-copy, .fa-arrow-right-from-bracket{
	font-size: 2em;
	padding-left: 10px;
	padding-right: 10px;
}

.fa-pen:hover, .fa-plus:hover{
	color: red;
}

.fa-trash:hover, .fa-copy:hover, .fa-arrow-right-from-bracket:hover{
	cursor: pointer;
	color: red;
}

.movie-row-watchlist{
	background-color: #e5e5e5;
}

.movie-row-watchlist-img-div{
	background-color: #000;
}

.movie-row-watchlist img{
	height: 150px;
	width: 100%;
	object-fit: contain;
}

.watchlistTypeMenu{
	max-width: 300px;
}

.watchlistTypeMenu h3{
	font-size: 16px;
	font-weight: 500;
}

.watchlistTypeMenu p{
	font-size: 13px;
}

.watchlistTypeMenu .row{
	white-space: break-spaces !important;
}

/* Refresh styling... */

.dropElements a{
  cursor: pointer;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

#active-nav a, #year-button, .movie-row button{
  background-color: #dd3545;
  color: white;
}

#active-nav .dropElements a:hover, .movie-row button:hover{
  color: white;
  background-color: #bb2d3b;
}

#year-button:hover{
  background-color: #bb2d3b;
}

#search-bar{
  padding: 11px;
  border-radius: 0px;
  box-shadow: none;
  border-right: none;
}

#search-button{
  font-size: 18px;
  height:50px;
  border: none;
  width: 110px;
}

.movie-row, .movie-row-watchlist, .watchlistRow{
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  background-color: transparent;
}

#year-button{
  padding: 0px 20px;
}

.title, .release-date, .rating, .movie-row-watchlist .inner-text{
  font-size: 20px;
}

/* Compare watchlist css */
#compareWatchlistModal{
	max-width: 700px;
}

#compareWatchlistModal .modal-body{
	padding: 20px 50px 50px 50px;
}

#compareWatchlistModal .list-group{
	font-size: 20px;
	border-radius: 0;
}

#compareWatchlistModal .list-group-item{
	border: none;
	border-bottom: 1px solid;
}

/* button styling*/
#compareWatchlist{
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 0px;
    font-size: 18px;
}

#createMontageBtn{
    padding: 10px 20px;
    border-radius: 0px;
    font-size: 18px;
}