.navbar .navbar-brand{
    font-size: 24px;
    color: #fff;
}
.navbar .nav-link {
    color: #fff;
    font-size: 18px;
}

.navbar .nav-link:hover {
    text-decoration: underline;
    color: #fff;
}

