#createWatchlist{
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 0px;
    font-size: 18px;
}

#CreateSuggestionlistButton{
		padding: 10px 20px;
    border-radius: 0px;
    font-size: 18px;
}
